.checkout-order{
  &-items {
    @include column-direction;
    gap: 20px;
  }

  &-headers {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-row-gap: 10px;

    p {
      font-size: 20px;
      font-weight: 600;

      &:not(:first-child) {
        text-align: center;
      }

      &:last-child {
        text-align: end;
      }
    }
  }

  &-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 5px;

    p{
      font-size: 16px;

      &:not(:first-child){
        text-align: center;
      }

      &:last-child{
        text-align: end;
      }
    }
  }

  &-arrow{
    align-self: center;
  }
}

@media screen and (max-width: 1280px){
  .checkout-order{
    &-headers{

      p{
        font-size: 18px;
      }
    }
  }
}