.achievements{
  @include flex-align(normal, space-around);
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  padding: 20px 0;
  background-color: $light-brown;
  border-radius: 20px;

  &-item{
    @include flex-align(center, normal, column);
    width: 25%;
    gap: 10px;

    &:not(:last-of-type){
      border-right: 1px solid $beige;
    }
  }
}

@media screen and (max-width: 576px){
  .achievements{
    &-item{
      min-width: 50%;
      border-right: 0 !important;
      margin: 15px 0;
    }
  }
}
