@import '../../styles/variables.scss';

.achievements{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
  padding: 20px 0;
  background-color: $light-brown;
  border-radius: 20px;

  &_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;

    &:not(:last-of-type){
      border-right: 1px solid $beige;
    }
  }

  .item {
    &_number, &_name{
      color: white;
    }

    &_number{
      font-size: 32px;
    }

    &_name{
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .achievements{
    .item{
      &_number{
        font-size: 24px;
      }

      &_name{
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .achievements{
    &_item{
      min-width: 50%;
      border-right: 0 !important;
      margin: 15px 0;
    }

    .item{
      &_number{
        font-size: 28px;
      }

      &_name{
        font-size: 18px;
      }
    }
  }
}
