.notfound {
  display: flex;
  height: calc(100% - 160px);

  &-container {
    @include flex-align(center, center, column);
    gap: 30px;
  }

  &-title {
    font-size: 50px;
    margin-top: -100px;
  }

  &-button {
    padding: 15px;
    color: $light-green;
    border: 1px solid $light-green;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;

    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      filter: brightness(70%);
    }
  }
}

@media screen and (max-width: 768px){
  .notfound{
    &-title {
      font-size: 40px;
      text-align: center;
    }
  }
}