@import '../../styles/variables.scss';

.locationPopUp{
  max-width: 1000px;
  width: 90%;
  height: 520px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  &-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title{
    font-size: 25px;
    color: $dark-green;
    font-weight: bold;
  }

  &-main{
    display: flex;
    gap: 4.16%;
  }

  &-location{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

    &-current{
      display: flex;
      gap: 2px;
      align-items: center;
      cursor: pointer;
      margin-top: 5px;

      svg{
        transform: scale(0.8);
      }

      p{
        font-size: 16px;
      }

      &:hover{
        p{
          color: $light-green;
        }
      }
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 15px;

      label{
        font-weight: bold;
      }
    }
  }

  &-input{
    width: 100%;
    height: 40px;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  &-input:disabled{
    background-color: $light-gray;
  }

  &-options{
    width: 100%;
    height: 100px;
    overflow: auto;
    border: 1px solid $gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    li{
      font-size: 16px;
      cursor: pointer;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:last-child{
        color: $gray;
      }

      &:hover{
        background-color: rgba(175, 216, 200, 0.5);
      }
    }
  }

  button{
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: $light-green;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: darken($light-green, 10%);
    }
  }

  &-confirmBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &-map{
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    width: 60%;

    span{
      font-weight: 600;
    }

    p{
      text-align: center;
      font-size: 16px;
    }

    #map{
      border: 1px solid $gray;
    }
  }

  .nonactive{
    background: $gray;
    opacity: 0.6;

    &:hover{
      background: $gray;
      opacity: 0.6;
      cursor: default;
    }
  }
}

@media screen and (max-width: 768px){
  .locationPopUp{
    height: auto;

    &-title{
      font-size: 24px;
    }

    &-main{
      flex-direction: column;
      gap: 30px;
      position: relative;
      padding-bottom: 70px;
    }

    &-location{
      width: 100%;

      form{
        flex-direction: row;
        gap: 15px;
        width: 100%;

        div{
          width: calc(100% - 15px);
        }
      }
    }

    &-map{
      width: 100%;

      #map{
        height: 300px !important;
      }
    }
  }
}