.checkout {
  padding: 50px 0;

  &-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
  }

  &-info {
    @include column-direction;
    gap: 30px;
  }

  &-personal-info {

    &-title{
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
      color: $dark-brown;
    }
  }

  &-order-receipt {
    @include column-direction;
    gap: 40px;
  }
}

@media screen and (max-width: 1024px){
  .checkout{
    &-container {
      display: flex;
      flex-direction: column-reverse;
      gap: 30px;
    }

    &-info {
      flex-direction: column-reverse;
    }
  }
}