@import "../../styles/variables.scss";

.checkout {
  padding: 50px 0;

  &_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
  }

  &_info {
  }

  &_map {
  }

  &_personal_info {
    padding-top: 30px;

    &_title{
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 20px;
      color: $dark-brown;
    }
  }

  &_order {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}