.checkout-order {
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border-radius: 10px;

  &-container {
    @include column-direction;
    gap: 40px;
  }

  &-title {
    @include flex-align(center, space-between);
    gap: 20px;

    p{
      font-size: 30px;
      font-weight: bold;

      span{
        color: $light-brown;
      }
    }
  }

  &-dropdown-icon{
    @include flex-align(center);
    gap: 5px;

    span{
      color: $gray;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  &-payment{
    @include column-direction;
    gap: 10px;

    &-fee{
      @include flex-align(center, space-between);

      p{
        color: $gray;
        font-weight: bold;
      }
    }

    &-total-container{
      @include column-direction;
      gap: 15px;
      padding-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }

    &-total{
      @include flex-align(center, space-between);
    }
  }
}

@media screen and (max-width: 576px){
  .checkout-order{
    &-title{

      p{
        font-size: 20px;
      }
    }
  }
}