@import '../../../styles/variables.scss';

.checkout-order {
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border-radius: 10px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    p{
      font-size: 30px;
      font-weight: bold;

      span{
        color: $light-brown;
      }
    }
  }

  &-dropdown-icon{
    display: flex;
    align-items: center;
    gap: 5px;

    span{
      color: $gray;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  &-payment{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-fee{
      display: flex;
      justify-content: space-between;
      align-items: center;

      p{
        color: $gray;
        font-weight: bold;
      }
    }

    &-total-container{
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }

    &-total{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media screen and (max-width: 576px){
  .checkout-order{
    &-title{

      p{
        font-size: 20px;
      }
    }
  }
}