@keyframes numberGrow {
  0%{
    transform: scale(1);
  }

  85%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }
}

.achievement{
  &-number, &-name{
    color: white;
  }

  &-number{
    font-size: 36px;
    transition: all 0.3s ease;
    animation: 2s ease-in-out numberGrow;
  }

  &-name{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px){
  .achievement{
    &-number{
      font-size: 28px;
    }

    &-name{
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px){
  .achievement{
    &-number{
      font-size: 36px;
    }

    &-name{
      font-size: 18px;
    }
  }
}