.auth-modal {
  max-width: 400px;
  width: 100%;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  &-header {
    @include flex-align(center, space-between);
    gap: 15px;

    &-title {
      font-size: 25px;
      font-weight: bold;
      color: $dark-brown;
    }
  }

  &-body {
    @include flex-align(normal, space-between, column);
    padding-top: 30px;
    width: 100%;
    height: calc(100% - 40px);

    button{
      width: 100%;
      margin-top: 20px;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      color: white;
      background-color: $light-green;
      font-weight: 600;
      transition: all 0.3s ease-in-out;

      &:hover{
        background-color: darken($light-green, 10%);
      }
    }
  }

  &-bottom{
    @include flex-align(center, normal, column);
    gap: 10px;

    p{
      font-size: 20px;
      color: $gray;
    }

    span{
      font-size: 18px;
      font-weight: 600;
      color: $dark-green;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .auth-modal{
    height: 100%;
    max-width: none;
    border-radius: 0;
    padding-bottom: 60px;

    &-header {
      &-title {
        font-size: 23px;
      }
    }
  }
}