@import '../../styles/variables.scss';

.auth-modal {
  max-width: 400px;
  width: 90%;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    &-title {
      font-size: 25px;
      font-weight: bold;
      color: $dark-brown;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    height: calc(100% - 40px);

    button{
      width: 100%;
      margin-top: 20px;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      color: white;
      background-color: $light-green;
      font-weight: 600;
      transition: all 0.3s ease-in-out;

      &:hover{
        background-color: darken($light-green, 10%);
      }
    }
  }

  &-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p{
      font-size: 20px;
      color: $gray;
    }

    span{
      font-size: 18px;
      font-weight: 600;
      color: $dark-green;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .authModal{
    &-header {

      &-title {
        font-size: 23px;
      }
    }
  }
}