@import '../../../styles/variables.scss';

.food-card {
  height: 190px;
  border: 1px solid $light-gray;
  border-radius: 10px;
  padding: 15px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
  }

  &-top {
    display: flex;
    gap: 10px;
    height: 100px;
  }

  &-image {
    min-width: 100px;
    min-height: 100px;
    height: 100px;
    background-color: #6566AC;
    border: 1px solid $light-gray;
    border-radius: 10px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-name {
    font-size: 18px;
    font-weight: 500;
  }

  &-description {
    color: $gray;
    font-size: 16px;
    text-overflow: ellipsis;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-price {
    font-size: 18px;
    font-weight: 600;
  }

  &-buy,  &-buy-unavailable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-weight: bold;
    font-size: 35px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    user-select: none;
  }

  &-buy{
    color: $light-green;
    background-color: rgba(175, 216, 200, 0.7);

    &:hover:before{
      content: 'Add to cart';
      position: absolute;
      font-size: 12px;
      color: $dark-green;
      top: -10px;
      right: 0;
    }
  }

  &-buy-unavailable{
    background-color: $light-gray;
    color: $gray;
  }
}

@media screen and (max-width: 768px){
  .food-card{
    height: 150px;

    &-container{
      flex-direction: row;
      gap: 35px;
    }

    &-bottom{
      flex-direction: column;
    }

    &-price {
      font-size: 20px;
    }

    &-buy{
      &:hover:before{
        font-size: 10px;
        bottom: 40px;
        top: unset;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .food-card{

    &-container{
      gap: 20px;
    }

    &-image{
      min-width: 80px;
      min-height: 80px;
      height: 80px;
    }

    &-description {
      font-size: 14px;
    }
  }
}