.banners{
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;

  &-track{
    display: flex;
    height: 100%;
  }
}

.banner{
  @include flex-align(center, space-between);
  gap: 30px;
  min-width: 100%;
  height: 400px;
  padding: 30px 50px;

  &-container{
    min-width: 100%;
    height: 400px;
  }

  &-green{
    background-color: rgba(109, 151, 115, 0.3);
  }

  &-brown{
    background-color: rgb(187, 138, 82, 0.3);
  }

  &-text{
    @include column-direction;
    gap: 25px;

    h2{
      font-size: 40px;
      font-weight: 600;
      color: $dark-green
    }

    p{
      color: $dark-brown;
      font-size: 18px;
      font-weight: 600;
    }

    span{
      font-size: 20px;
      font-weight: bold;
      background: linear-gradient(90deg, $dark-green, $light-green);
      background-clip: text;
      color: transparent;
    }
  }

  &-photo{
    width: 50%;
    height: calc(100% - 60px);

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}

@media screen and (max-width: 768px){
  .banners{
    height: 300px;
  }

  .banner{
    gap: 30px;
    height: 320px;
    padding: 30px 50px;

    &-text{
      gap: 15px;

      h2{
        font-size: 30px;
      }

      p{
        font-size: 16px;
      }

      span{
        font-size: 18px;
      }
    }

    &-photo{
      height: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 576px){
  .banners{
    height: 230px;
    margin-bottom: 30px;
  }

  .banner{
    height: 230px;
    padding: 20px 30px;

    &-text{
      gap: 10px;

      h2{
        font-size: 24px;
      }
    }

    &-photo{
      display: none;
    }
  }
}