.admin-layout{

  &-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(109, 151, 115, 0.15);
    overflow: hidden;
  }

  &-main{
    margin: 120px 60px 80px 360px;
    width: calc(100% - 420px);
    min-height: calc(100% - 200px);
    border-radius: 15px;
    background-color: white;
    padding: 25px;
  }
}