.admin-layout{

  &-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(109, 151, 115, 0.15);
  }

  &-main{
    margin: 120px 60px 70px 360px;
    width: calc(100% - 420px);
    height: auto;
    border-radius: 15px;
    background-color: white;
    padding: 25px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
}

@media screen and (max-width: 1280px){
  .admin-layout{
    &-main{
      margin: 120px 40px 70px 280px;
      width: calc(100% - 320px);
      padding: 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .admin-layout{

    &-wrapper{
      height: 100vh;
      overflow: auto;
    }

    &-main{
      height: auto;
      width: calc(100% - 64px);
      margin: 120px auto 70px auto;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 576px){
  .admin-layout{
    &-main{
      width: calc(100% - 32px);
      margin: 92px auto 70px auto;
      padding: 10px;
    }
  }
}