.admin-messages{
  width: 100%;
  height: 100%;
  position: relative;

  &-content{

  }

  &-message{
    display: grid;
    grid-template-columns: 0.3fr 0.5fr 1fr 0.5fr 0.5fr;
    align-items: center;
    font-size: 18px;
    padding: 25px 10px;
    border-top: 1px solid $light-gray;
    cursor: pointer;

    &-unread{
      background-color: rgba(109, 151, 115, 0.1);
    }

    &:hover{
      background-color: rgba(109, 151, 115, 0.2);
    }

    &-text{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-name{
      span{
        color: $gray;
      }
    }

    &-date{
      justify-self: flex-end;
    }

    &-quantity{
      background-color: $light-green;
      color: white;
      padding: 5px 10px;
      border-radius: 50%;
      justify-self: flex-end;
    }
  }
}