.cart{
  @include column-direction;
  height: 100%;
  padding: 20px;
  gap: 25px;

  &-wrapper{
    @include column-direction;
    @include absolute-position(top 0, right 0);
    padding-top: 20px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding-bottom: 30px;
  }

  &-header{
    @include flex-align(center, flex-end);
    padding: 0 20px;
    font-size: 28px;
    color: $dark-green;
    font-weight: 600;

    div{
      margin: 3px 5px;
    }
  }

  &-title{
    font-size: 24px;
    font-weight: bold;

    span{
      color: $light-brown;
    }
  }

  &-body{
    @include column-direction;
    gap: 10px;
    min-height: 200px;
    flex: 1;
    overflow: auto;
  }

  &-empty{
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    color: #808B96;
    font-weight: 500;
  }

  &-bottom{
    @include column-direction;
    gap: 25px;
    justify-self: flex-end;
  }

  &-sum{
    @include flex-align(center, space-between);
    width: 100%;
    padding-top: 10px;

    &-text{
      font-size: 18px;
      font-weight: 600;
    }

    &-total{
      font-size: 20px;
      font-weight: 700;
    }
  }

  &-button{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: $light-green;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: darken( $light-green, 10%);
    }

    &:disabled{
      background-color: $gray;
      opacity: 0.6;
    }
  }
}