.customer-info{
  @include column-direction;
  gap: 20px;
  width: 100%;

  &-group{
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &-column{
    @include column-direction;
    gap: 20px;
    width: calc(50% - 10px);
  }

  &-label{
    @include column-direction;
    font-weight: bold;
    font-size: 18px;
    gap: 8px;
    position: relative;
    padding-bottom: 15px;
    color: $dark-brown;

    textarea{
      height: 50px;
      resize: none;
    }
  }

  &-input{
    height: 40px;
    border-radius: 10px;
    border: 1px solid $gray;
    padding: 10px;
    font-size: 16px;
  }

  &-error{
    @include absolute-position(bottom 0, left 0);
    font-size: 12px;
    color: red;
  }

  &-btn{
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: $light-green;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: darken($light-green, 10%);
    }
  }
}