.restaurants {
  &-title {
    @include flex-align(center, flex-start);
    gap: 10px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;

    svg {
      filter: drop-shadow(3px 3px 3px $yellow);
    }
  }

  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;

    a {
      color: black
    }

    button{
      @include flex-align(center, center);
      gap: 10px;
      background-color: transparent;
      font-size: 20px;
      color: $dark-green;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover{
        font-weight: 600;
      }

      svg{
        min-width: 24px;
        min-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .restaurants{
    &-group{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 576px){
  .restaurants{
    &-title{
      font-size: 18px;
      padding-bottom: 20px;
    }

    &-group{
      grid-template-columns: 1fr 1fr;
    }
  }
}