.pagination{
  @include flex-align(center, center);
  @include absolute-position(bottom 0, left 50%);
  transform: translateX(-50%);
  gap: 20px;

  &-button{
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    color: $dark-green;

    &-disabled{
      color: $light-gray;
      cursor: not-allowed;
    }
  }

  &-page{
    font-size: 24px;
    font-weight: 500;
  }
}