.header{
  background-color: #FFDB58;
  min-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1300;

  &_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
  }

  &_logo{
    color: #31906E;
    font-size: 35px;
    font-weight: bold;
  }

  &_geolocation{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }

    p{
      font-size: 18px;
      font-weight: 500;
      color: #808B96;
    }

  }
}