.admin-navbar {
  @include column-direction;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 600px;
  background-color: white;
  z-index: 8;
  border-bottom-right-radius: 15px;
  margin-top: 82px;

  &-tabs{
    padding: 20px;
  }

  &-tab a{
    @include flex-align(center);
    gap: 10px;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
  }

  &-tab-active{
    background-color: $light-green;
    border-radius: 15px;

    p{
      color: white;
    }
  }
}

@media screen and (max-width: 1280px){
  .admin-navbar{
    width: 260px;

    &-tabs, &-tab a{
      padding: 15px;
    }
  }
}

@media screen and (max-width: 768px){
  .admin-navbar{
    margin-top: 0;
    z-index: 11;
    height: 100%;
    border-radius: 0;

    &-header{
      @include flex-align(center, end);
      padding: 15px 15px 0 15px;
    }

    &-tab a{
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 576px){
  .admin-navbar{
    width: 100%;
  }
}