.admin-navbar {
  @include column-direction;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 600px;
  background-color: white;
  z-index: 8;
  border-bottom-right-radius: 15px;
  margin-top: 82px;

  &-tabs{
    padding: 20px;
  }

  &-tab a{
    @include flex-align(center);
    gap: 10px;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
  }

  &-tab-active{
    background-color: $light-green;
    border-radius: 15px;

    p{
      color: white;
    }
  }
}