.navbar {
  @include flex-align(center, center);
  gap: 20px;

  &-tabs{
    @include flex-align(center, center);
    gap: 20px;
  }

  &-greeting{
    font-size: 20px;
    font-weight: 600;
  }

  ul{
    display: flex;
    gap: 17px;

    li{
      font-size: 20px;
      font-weight: 600;
      color: $dark-brown;
      cursor: pointer;

      &:hover{
        border-bottom: 1px solid $dark-brown;
      }
    }
  }

  &-account {
    @include flex-align(center, center);
    cursor: pointer;

    span {
      color: white;
      background: $light-brown;
      font-weight: bold;
      font-size: 16px;
      padding: 7px 20px;
      border-radius: 10px;
      letter-spacing: 1px;

      &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }

  &-cart {
    cursor: pointer;
    position: relative;

    svg {
      transform: scale(1.5);
    }

    span{
      @include absolute-position(top -6px, right -6px);
      font-size: 12px;
      font-weight: 600;
      background-color: $beige;
      color: $dark-brown;
      border-radius: 50%;
      padding: 3px 5px;
    }
  }
}
