@import '../../styles/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &_tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &_greeting{
    font-size: 20px;
    font-weight: 600;
  }

  ul{
    display: flex;
    gap: 17px;

    li{
      font-size: 20px;
      font-weight: 600;
      color: $dark-brown;
      cursor: pointer;

      &:hover{
        border-bottom: 1px solid $dark-brown;
      }
    }
  }

  &_account {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: white;
      background: $light-brown;
      font-weight: bold;
      font-size: 16px;
      padding: 7px 20px;
      border-radius: 10px;
      letter-spacing: 1px;

      &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }

  &_cart {
    cursor: pointer;
    position: relative;

    svg {
      transform: scale(1.5);
    }

    span{
      position: absolute;
      top: -6px;
      right: -6px;
      font-size: 12px;
      font-weight: 600;
      background-color: $beige;
      color: $dark-brown;
      border-radius: 50%;
      padding: 3px 5px;
    }
  }
}
