.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &_greeting{
    font-size: 20px;
    font-weight: 600;
  }

  &_account {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: white;
      background: #006A4E;
      font-weight: bold;
      font-size: 16px;
      padding: 10px;
      border-radius: 15px;
      letter-spacing: 1px;

      &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }

  &_cart {
    cursor: pointer;

    svg {
      transform: scale(1.5);
    }

  }
}
