.restaurant-type{
  @include flex-align(center, space-between);
  padding: 25px 15px;
  border-bottom: 1px solid $light-gray;
  cursor: pointer;

  &-name{
    font-size: 24px;
    font-weight: 500;
    color: $dark-green;
  }

  &-restaurant-names{
    @include column-direction;

    a{
      font-size: 20px;
      padding: 20px 30px;
      cursor: pointer;
      color: black;

      &:hover{
        background-color: $beige;
      }
    }
  }

  &:hover{
    background-color: $beige;
  }
}

@media screen and (max-width: 576px){
  .restaurant-type{
    padding: 15px 10px;

    &-name{
      font-size: 20px;
    }

    &-restaurant-names{
      a{
        font-size: 18px;
        padding: 15px 20px;
      }
    }
  }
}